Repository lenskit/lkpy, pull requests merged in 2025-10, with the labels that each got.

#854 Add validation for entity class name and attribute name
  docs/guide/data/model.rst
  src/lenskit/data/builder.py
  tests/data/test_builder_attributes.py
  tests/data/test_builder_entities.py
  tests/data/test_builder_interactions.py
  tests/data/test_builder_repeat_interactions.py
Labels: data

#859 Add basic data-splitting CLI
  src/lenskit/cli/data/__init__.py
  src/lenskit/cli/data/split.py
  src/lenskit/splitting/temporal.py
  tests/cli/test_data_split.py
  tests/splitting/test_split_temporal.py
Labels: data, cli

#857 Add experimental hyperparameter tuning library and CLI
  pipelines/als-implicit-search.toml
  pipelines/als-implicit.toml
  pipelines/bias-search.toml
  pipelines/iknn-explicit-search.toml
  pipelines/iknn-explicit.toml
  pyproject.toml
  src/lenskit/als/_implicit.py
  src/lenskit/cli/__init__.py
  src/lenskit/cli/tune.py
  src/lenskit/data/collection/__init__.py
  src/lenskit/logging/config.py
  src/lenskit/logging/multiprocess/_worker.py
  src/lenskit/logging/progress/_dispatch.py
  src/lenskit/pipeline/builder.py
  src/lenskit/random.py
  src/lenskit/tuning/__init__.py
  src/lenskit/tuning/_search.py
  src/lenskit/tuning/iterative.py
  src/lenskit/tuning/job.py
  src/lenskit/tuning/metrics.py
  src/lenskit/tuning/reporting.py
  src/lenskit/tuning/simple.py
  src/lenskit/tuning/spec.py
  src/lenskit/tuning/stopper.py
  tests/pipeline/test_save_load.py
  tests/tuning/__init__.py
  tests/tuning/test_basic_tuning.py
  tests/tuning/test_iterative_tuning.py
  tests/tuning/test_tuner_setup.py
  uv.lock
Labels: evaluation

#864 Add tuning settings to LensKit config + support a GPU resource multiplier
  src/lenskit/cli/tune.py
  src/lenskit/config/__init__.py
  src/lenskit/tuning/_search.py
Labels: cli, tuning
