Repository lenskit/lkpy, pull requests merged in 2025-01, with the labels that each got.

#584 emit higher-quality error message on node failure
  lenskit/lenskit/pipeline/runner.py
Labels: internals

#594 Update pre-commit hook versions
  .pre-commit-config.yaml
Labels: internals

#593 Add directory check in save_parquet
  lenskit/lenskit/data/collection.py
  lenskit/tests/data/test_collection.py
Labels: enhancement, data

#597 Speed up popularity scoring and top-N ranking
  lenskit/lenskit/basic/popularity.py
  lenskit/lenskit/basic/random.py
  lenskit/lenskit/basic/topn.py
  lenskit/lenskit/batch/_runner.py
  lenskit/lenskit/parallel/__init__.py
  lenskit/lenskit/stats.py
  lenskit/tests/basic/test_popular.py
  lenskit/tests/basic/test_time_bounded_popular.py
  lenskit/tests/basic/test_topn.py
  lenskit/tests/math/test_argtopn.py
  lenskit/tests/math/test_gini.py
Labels: components, performance

#600 Migrate HPF to configuration object and fix BiasConfig serialization
  lenskit-hpf/lenskit/hpf.py
  lenskit-hpf/tests/test_hpf.py
  lenskit/lenskit/basic/bias.py
Labels: internals

#599 Move Trainable interface and add TrainingOptions
  docs/api/index.rst
  docs/api/training.rst
  docs/guide/conventions.rst
  docs/guide/pipeline.rst
  lenskit-funksvd/lenskit/funksvd.py
  lenskit-hpf/lenskit/hpf.py
  lenskit-hpf/tests/test_hpf.py
  lenskit-implicit/lenskit/implicit.py
  lenskit-sklearn/lenskit/sklearn/svd.py
  lenskit/lenskit/als/_common.py
  lenskit/lenskit/als/_implicit.py
  lenskit/lenskit/basic/bias.py
  lenskit/lenskit/basic/candidates.py
  lenskit/lenskit/basic/history.py
  lenskit/lenskit/basic/popularity.py
  lenskit/lenskit/knn/item.py
  lenskit/lenskit/knn/user.py
  lenskit/lenskit/pipeline/__init__.py
  lenskit/lenskit/pipeline/_impl.py
  lenskit/lenskit/pipeline/components.py
  lenskit/lenskit/testing/_components.py
  lenskit/lenskit/training.py
  lenskit/tests/pipeline/test_train.py
Labels: internals, pipeline

#601 Add iterative training API
  docs/guide/impl-tips.rst
  lenskit/lenskit/als/_common.py
  lenskit/lenskit/als/_implicit.py
  lenskit/lenskit/logging/progress/_dispatch.py
  lenskit/lenskit/training.py
Labels: internals

#606 Separate PipelineBuilder from Pipeline and update run api
  docs/api/pipeline.rst
  docs/guide/pipeline.rst
  lenskit/lenskit/basic/history.py
  lenskit/lenskit/batch/_runner.py
  lenskit/lenskit/pipeline/__init__.py
  lenskit/lenskit/pipeline/_impl.py
  lenskit/lenskit/pipeline/builder.py
  lenskit/lenskit/pipeline/common.py
  lenskit/lenskit/pipeline/components.py
  lenskit/lenskit/pipeline/config.py
  lenskit/lenskit/pipeline/nodes.py
  lenskit/lenskit/pipeline/runner.py
  lenskit/lenskit/testing/_components.py
  lenskit/tests/basic/test_bias.py
  lenskit/tests/basic/test_composite.py
  lenskit/tests/pipeline/test_component_config.py
  lenskit/tests/pipeline/test_component_util.py
  lenskit/tests/pipeline/test_fallback.py
  lenskit/tests/pipeline/test_lazy.py
  lenskit/tests/pipeline/test_pipeline.py
  lenskit/tests/pipeline/test_pipeline_clone.py
  lenskit/tests/pipeline/test_pipeline_state.py
  lenskit/tests/pipeline/test_save_load.py
  lenskit/tests/pipeline/test_train.py
Labels: pipeline

#608 Re-add unnormalized DCG metric
  docs/guide/evaluation/rankings.rst
  docs/lenskit.bib
  lenskit/lenskit/metrics/ranking/__init__.py
  lenskit/lenskit/metrics/ranking/_dcg.py
  lenskit/tests/eval/test_bulk_metrics.py
  lenskit/tests/eval/test_rank_dcg.py
Labels: evaluation

#609 Add ARM and Windows vanilla Python to CI runs
  .github/workflows/test.yml
  lenskit/lenskit/logging/monitor.py
  pixi.lock
  pixi.toml
  workflows/lib/defs.ts
  workflows/test.ts
Labels: build

#612 Simplify training history components with new dataset
  lenskit/lenskit/basic/history.py
  lenskit/lenskit/data/dataset.py
  lenskit/tests/basic/test_history.py
Labels: components, data

#617 Add sklearn to documentation environment
  pixi.lock
  pixi.toml
Labels: docs

#615 Add entity attribute support to dataset and builder
  docs/api/data.rst
  lenskit/lenskit/data/__init__.py
  lenskit/lenskit/data/attributes.py
  lenskit/lenskit/data/builder.py
  lenskit/lenskit/data/dataset.py
  lenskit/tests/data/test_builder_attributes.py
  lenskit/tests/math/test_argtopn.py
Labels: data

#618 Fully-load the MovieLens datasets
  .github/workflows/test.yml
  docs/guide/data.rst
  lenskit/lenskit/data/attributes.py
  lenskit/lenskit/data/builder.py
  lenskit/lenskit/data/dataset.py
  lenskit/lenskit/data/movielens.py
  lenskit/lenskit/splitting/temporal.py
  lenskit/lenskit/testing/_components.py
  lenskit/lenskit/testing/_movielens.py
  lenskit/tests/basic/test_bias.py
  lenskit/tests/data/test_builder_filter.py
  lenskit/tests/data/test_dataset_entity_query.py
  lenskit/tests/data/test_dataset_matrix.py
  lenskit/tests/data/test_dataset_stats.py
  lenskit/tests/models/test_als_explicit.py
  lenskit/tests/models/test_knn_item_item.py
  lenskit/tests/movielens/test_load_movielens.py
  lenskit/tests/splitting/test_split_temporal.py
  pixi.lock
  pixi.toml
  workflows/test/test-eval.ts
Labels: data

#619 Fix dataset attribute bugs and document MovieLens data
  docs/guide/data/datasets.rst
  docs/guide/data/index.rst
  docs/guide/data/item-lists.rst
  docs/guide/data/model.rst
  docs/guide/data/movielens.rst
  docs/guide/index.rst
  docs/lenskit.bib
  justfile
  lenskit/lenskit/data/adapt.py
  lenskit/lenskit/data/attributes.py
  lenskit/lenskit/data/builder.py
  lenskit/lenskit/data/dataset.py
  lenskit/lenskit/data/movielens.py
  lenskit/lenskit/data/schema.py
  lenskit/tests/data/test_builder_attributes.py
  lenskit/tests/data/test_load_movielens.py
Labels: docs, data
